// Red Delicious - Golden Delicious
$color-primary: #a11f0c;
$color-primary-light: #d95336;
$color-primary-dark: #6c0000;
$color-accent: #f4ec6a;
$color-accent-light: #ffff9c;
$color-accent-dark: #bfba38;
