// brand colors
@import '../themes/fresh-vermillion';

$color-text: #3c3950;
$color-text-second: #748793;
$color-text-accent: #fff;
$color-text-fainted: rgba(0, 0, 0, .5);

$color-error: #dd2c00;

$color-white: #fff;
$color-silver: #c0c0c0;
$color-marengo: #4c5866;
$color-graphite: #474a51;
$color-anthracite: #464451;
$color-blue-black: #151719;
$color-black: #000;

$color-aqua: #0ff;

$color-border: rgba(0, 0, 0, .26);

// $color-background: #f1f8fa;
$color-background: #f4f6f7;

// social brand colors
$color-facebook: #3b5998;
$color-twitter: #55acee;
$color-linkedin: #0976b4;
$color-googleplus: #dd4b39;
$color-pinterest: #ff5757;
$color-tumblr: #456988;
$color-vimeo: #1db3e3;
