// z levels should be put in the ascending order
// i.e. elements farthest first, nearest last

$drawer-level: 45;
$header-level: 50;
$content-level: 55;
$sticky-header-level: 60;
$suggestion-box: 75;
$cookie-banner-level: 80;
$header-dropdown-level: 90;
$tooltip-level: 95;
$mobile-menu-level: 100;
$popup-level: 110;

